:root {
  --bigFont: 2.65rem;
  --bigMidFont: 3.2rem;
  --bigSuperFont: 4rem;
  --mediumFont: 1.8rem;

  --pryColor: #dc6601;
  --secColor: #f9ddb1;
  --greyColor: #d0d0d0;
  --blackColor: #1e1e1e;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Manrope", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  /* color: var(--white) !important; */
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
  font-family: "Manrope", sans-serif;
}

input,
button {
  border: none;
  background-color: transparent;
}

.main-btn {
  background-color: var(--pryColor);
  padding: 12px 44px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

.btn-outline {
  background-color: transparent;
  padding: 12px 64px;
  border-radius: 8px;
  color: var(--pryColor);
  font-weight: 600;
  border: solid 1px var(--pryColor);
}
.btn-grey {
  background-color: var(--greyColor);
  padding: 12px 64px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

img {
  width: 100%;
  height: auto;
}
