.footer {
  padding: 18px 88px;
  background-color: var(--pryColor);
  color: var(--white);

  .community-container {
    @media screen and (max-width: 890px) {
      width: 100%;
      margin-top: 50px;

      .icon {
        width: 40%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .logo {
    .community-container {
      width: 50%;
      margin-top: 100px;

      h4 {
        margin-bottom: 25px;
      }
      .icon {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
      }
    }
  }

  @media screen and (max-width: 890px) {
    padding: 20px 35px 50px;
  }

  .logo {
    h2 {
      font-size: 25px;
      font-weight: 700;
      margin-left: 5px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      margin-top: 9px;
    }
  }

  aside {
    margin: 2px auto;
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 55px;

      @media screen and (max-width: 890px) {
        margin-top: 50px;
        // text-align: center;
      }
    }
    a {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
      color: var(--white);

      span {
        color: var(--black);
        font-size: 7px;
        background-color: var(--light-green);
        padding: 5px 10px;
      }
      @media screen and (max-width: 890px) {
        // text-align: center;
      }
    }
  }

  article {
    border-top: 1px solid white;
    margin-top: 62px;
    padding-top: 14px;
  }
}
