.footer {
  padding: 18px 88px;
  background-color: var(--pryColor);
  color: var(--white);

  .subscribe {
    background-color: var(--white);
    padding: 1em 1.5em;
    border-radius: 12px;
  }

  @media screen and (max-width: 890px) {
    padding: 20px 35px 50px;
  }

  aside {
    margin: 2px auto;
    h4 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 55px;

      @media screen and (max-width: 890px) {
        margin-top: 50px;
        // text-align: center;
      }
    }
    a {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
      color: var(--white);

      span {
        color: var(--black);
        font-size: 7px;
        background-color: var(--light-green);
        padding: 5px 10px;
      }
      @media screen and (max-width: 890px) {
        // text-align: center;
      }
    }
  }

  article {
    border-top: 1px solid white;
    margin-top: 62px;
    padding-top: 14px;
  }
}
