.uploadContainer {
  //   background-color: red;
  // height: fit-content;
  margin: 3em;
  border: solid 2px rgb(237, 237, 237);
  border-radius: 20px;
  max-height: 70%;
  label {
    margin: 1em 0;
  }

  .upload {
    background-color: rgb(237, 237, 237);
    padding: 1em;
    // height: auto;
    border-radius: 10px;
    cursor: pointer;
  }

  .uploadInp {
    display: none;
    background-color: red;
  }
  .imgPreview {
    // background-color: rgb(237, 237, 237);
    padding: 1em;
    border-radius: 10px;
  }
}
